@font-face {
    font-family: font;
    src: url(../components/BebasNeue-Regular.ttf);

   
}

@font-face {
    font-family: title;
    src: url(../components/Mogra-Regular.ttf);
}

@font-face {
    font-family: description;
    src: url(../components/static/OpenSans-Regular.ttf)
}

.font {
    font-family: font;
}

.title {
    font-family: title;
}

.description {
    font-family: description;
}