@font-face {
    font-family: font;
    src: url(./fonts/BebasNeue-Regular.ttf);

   
}

@font-face {
    font-family: title;
    src: url(./fonts/Mogra-Regular.ttf);
}

@font-face {
    font-family: description;
    src: url(./fonts/static/OpenSans-Regular.ttf)
}

.font {
    font-family: font;
}

.title {
    font-family: title;
}

.description {
    font-family: description;
}