.para {
    word-wrap: break-word;
}

.btn {
    margin-top: -5px;
}

.customloader {
    margin: 350px auto;
    width:100px;
    height:100px;
    border-radius:50%;
    border:8px solid;
    border-color:#E4E4ED;
    border-right-color: #6EF426;
    animation:s2 1s infinite linear;
  }


  .down {
    margin-top: 250px ;
    visibility: visible;
  }

  .modal-hidden {
    margin-top: -1000px;
  }